<%= form_with(url: sessions_path) do |form|%>

<div>
<%= form.label :'Nombre de Usuario'%>
<%= form.text_field :username, require: true%>
</div>

<div>
<%= form.label :Contraseña%>
<%= form.password_field :password , require: true%>
</div>

<%= form.submit :'Iniciar Sesion'%>

<% end %>