<%= form_with model:@report do |form|%>
<% @report.errors.full_messages.each do|err| %>
    <div>
        <%= err %>    
    </div>
<%end%>
<%= form.label :Titulo%>
<%= form.text_field :tittle%>
</div>

<div>
<%= form.label :Descripcion%>
<%= form.text_field :description%>
</div>

<div>
<%= form.label :Categoria%>
<%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name %>
</div>

<div>
<%= form.label :Foto%>
<%= form.file_field :photo%>
</div>

<%= form.submit%>

<% end %>