
<div>
    <%= link_to report_path(report.id), 'data-turbo-frame': '_top' do%>
        <h2>Usuario: <%=report.user%></h2>
        <h3><%=report.tittle%> </h3>
        <p>Fecha:<%=report.created_at %></p>
        <%if report.visto %>
            <p>El reporte ha sido visto</p>
        <%end%>
    <%end%>
</div>
<div>
    <%= image_tag report.photo, width: 150, heigth: 150 if report.photo.attached?%>
</div>
<div>
    <%= link_to edit_report_path(report.id), 'data-turbo-frame': '_top' do%>
    <h4>Editar</h4>
    <% end %>
</div>