<div class="container-fluid conteiner">
    <h1>Reportes</h1>
    <div class="btn-group" role="group" aria-label="Opciones de navegación">
    <%= link_to 'Agregar Reporte', new_report_path, class: 'btn btn-primary' %>
    
    <% if Current.user::admin %>
        <%= link_to 'Categorías', categories_path, class: 'btn btn-secondary' %>
        <%= link_to 'Usuarios', users_path, class: 'btn btn-secondary' %>
    <% end %>
    </div>


    <div>
        <%= form_with url: reports_path, method: :get do |form|%>
            <%= form.select :filter,options_for_select([["Ninguno",""],["Todos","all"],["Hoy","today"],["Esta semana","week"]],params[:filter]), {},
            {class: 'btn btn-info dropdown-toggle', onChange: 'this.form.requestSubmit()'}%>
            <%= form.select :visibilidad,options_for_select([["Todos","Todos"],["Vistos",true],["No vistos",false]],params[:visibilidad]), {},
            {class: 'btn btn-info dropdown-toggle', onChange: 'this.form.requestSubmit()'} if  Current.user::admin%>   
        <%end%>
    </div>

    <%= turbo_frame_tag "Listado-#{@pagy.page}", class: 'reports conteiner justify-content-center' do%>

        <%= render partial:'report', collection: @reports%>
        <%= turbo_frame_tag "Listado-#{@pagy.next}", class: 'reports', src: 
        pagy_url_for(@pagy,@pagy.next), loading: :lazy if @pagy.next%>
    <%end%>

</div>


