
<div>
    <%= image_tag @report.photo, width: 400, heigth: 400 if @report.photo.attached?%>
</div>
<div>
<h2>Usuario: <%= @report.user%></h2>
<h3><%= @report.tittle%> </h3>
<p><%= @report.description%></p>
    <div>
        <%= link_to 'Eliminar', report_path(@report.id),data: {
            turbo_method: :delete
        }  %>
    </div>
</div>

